# Answer Your Own Question!

While it's obviously important to be able to answer a question that is posed to you, a big part of data science is knowing what questions to ask. To give you practice doing this, the last part of this lab is deliberately open-ended. 

**Task:** Come up with your own question about the Shark Tank data set and answer it. 

You will need to add Markdown and Code cells below to (1) state the question you are trying to answer, (2) write code to answer the question, and (3) explain your findings. You will be graded on:
- how interesting your question is [5 points]
- the correctness of your analysis [10 points]
- the clarity of the presentation [5 points]

If you go above and beyond, you can even earn extra credit.

In [1]:
import pandas as pd
import numpy as np
from symbulate import *
pd.set_option("display.max_rows", 15)
data = pd.read_csv("/data/sharktank.csv")

# Which Industry Was Worth the Most?

For an entreprenuer wanting to get rich, choosing the right industry is critical, Calculate which industry vas valued the most by the sharks, as well as the one that received the most in total investments from the sharks in order to give some insight on this topic.

In [2]:
data["Amount"] = data["Amount"].str.replace(",","")
data["Amount"] = data["Amount"].str.replace("$","")
data["Amount"] = data["Amount"].apply(pd.to_numeric)
data["Equity"] = data["Equity"].str.replace("%","")
data["Equity"] = pd.to_numeric(data["Equity"], errors='coerce')

In [3]:
data["Valuation"] = data.Amount/(data.Equity/100)
data["Valuation"] = data["Valuation"].replace(np.inf, np.nan)

In [4]:
data.groupby("Industry")["Valuation"].sum()

Industry
Business Services        2.400000e+06
Children / Education     2.469848e+07
Consumer Products        7.187479e+06
Fashion / Beauty         3.641161e+07
Fitness / Sports         2.933684e+07
Food and Beverage        7.601234e+07
Green/CleanTech          1.631723e+07
Healthcare               1.990194e+07
Lifestyle / Home         3.538333e+07
Media / Entertainment    3.215278e+07
Pet Products             2.135714e+06
Software / Tech          1.555409e+07
Uncertain / Other        7.152381e+06
Name: Valuation, dtype: float64

In [5]:
data.groupby("Industry")["Amount"].sum()

Industry
Business Services          675000.0
Children / Education      3985000.0
Consumer Products         2110000.0
Fashion / Beauty          8895000.0
Fitness / Sports          7035000.0
Food and Beverage        13585000.0
Green/CleanTech           6450000.0
Healthcare                5380000.0
Lifestyle / Home          6700000.0
Media / Entertainment     4000000.0
Pet Products               675000.0
Software / Tech           3069000.0
Uncertain / Other         2525000.0
Name: Amount, dtype: float64

The industry with the highest valuation is once again the Food and Beverage industry, it is also the same industry with the highest aggregate amount of investments from the sharks. As the industry with the highest proportion of investment, as well as the industry with the highest aggregate valuation and investment amount, entreprenuers should look to enter the Food and Beverage industry if they hope to become rich. However, the results of our analysis do not fully convey the difficulty of entry into this industry, which is expected to be very high.

### Grader's Comments

- 
- 

[This question is worth 20 points.]

In [6]:
# This cell should only be modified only by a grader.
scores.append(0)

NameError: name 'scores' is not defined