## The Best and Worst Genres

Which genre is rated the highest on average? Which one is rated the lowest on average?

To answer this question, you will need to look at the `Genres` column of the `movies` table. Note that a movie can belong to multiple genres, so you will have to write code that parses the string inside this column. It is fine if you end up writing a loop, although there is a slick vectorized way to solve this problem.

In [1]:
import pandas as pd
pd.set_option("display.max_rows", 15)

In [2]:
columns = "UserID::MovieID::Rating::Timestamp".split("::")
ratings = pd.read_table('/data/movielens/ratings.dat', sep='::', 
                        header=None, names=columns, engine='python')
columns2 = "MovieID::Title::Genres".split("::")
movies = pd.read_table('/data/movielens/movies.dat', sep='::', 
                        header=None, names=columns2, engine='python')

In [3]:
data_merged = ratings.merge(movies, how='right',on=["MovieID"])
data_merged.head()

,UserID,MovieID,Rating,Timestamp,Title,Genres
0,1.0,1193,5.0,978300760.0,One Flew Over the Cuckoo's Nest (1975),Drama
1,2.0,1193,5.0,978298413.0,One Flew Over the Cuckoo's Nest (1975),Drama
2,12.0,1193,4.0,978220179.0,One Flew Over the Cuckoo's Nest (1975),Drama
3,15.0,1193,4.0,978199279.0,One Flew Over the Cuckoo's Nest (1975),Drama
4,17.0,1193,5.0,978158471.0,One Flew Over the Cuckoo's Nest (1975),Drama

In [4]:
split = data_merged.Genres.str.split('|', expand=True).stack()

In [5]:
split.index = split.index.droplevel(-1)
split.name = "Genres"
del data_merged["Genres"]

In [6]:
rate_by_genre = data_merged.join(split).groupby("Genres")["Rating"].mean()

In [7]:
highest = rate_by_genre.argmax()
lowest = rate_by_genre.argmin()
print("Highest Rating:", highest, rate_by_genre.max(),
     "\nLowest Rating:", lowest, rate_by_genre.min())

Highest Rating: Film-Noir 4.07518755818
Lowest Rating: Horror 3.21501322232

The Film-Noir genre was rated the highest on average, with an average rating of 4.0752. The lowest rated genre was Horror, with an average rating of 3.125

### Grader's Comments

- 
- 

[This question is worth 15 points.]

In [8]:
# This cell should only be modified only by a grader.
scores = [0]